@import "~bootstrap/scss/bootstrap.scss";

.numberList{
    color: gray;
    font-size: x-small;
}

.List{
    padding-top: 50px;
}
.credits{
    background:#343a40 ;
    color: white;
    height: 100px;
    display: flex;
    padding-top: 39px;
    justify-content: center;
   
}
label{
    font-size: xx-small;
    size: 10px;
    color: gray;
  

}